@model dynamic

@{
    ViewBag.Title = "Đổi Mật Khẩu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container mt-5">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card p-4 shadow-lg border-0" style="background: linear-gradient(to right, #ffffff, #f8f9fa); border-radius: 15px;">
                <div class="card-body">
                    <h2 class="text-center mb-4">@ViewBag.Title</h2>
                    <hr />
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()
                        <div class="form-group mb-3">
                            <label for="emailOrSDT" class="fw-bold">Tài khoản:</label>
                            <input type="text" name="emailOrSDT" id="emailOrSDT" placeholder="Email hoặc SĐT" class="form-control" required />
                        </div>
                        <div class="form-group mb-3">
                            <label for="oldPassword" class="fw-bold">Mật khẩu hiện tại:</label>
                            <input type="password" name="oldPassword" id="oldPassword" class="form-control" required />
                        </div>
                        <div class="form-group mb-3">
                            <label for="newPassword" class="fw-bold">Mật khẩu mới:</label>
                            <input type="password" name="newPassword" id="newPassword" class="form-control" required />
                        </div>
                        <div class="form-group mb-3">
                            <label for="confirmPassword" class="fw-bold">Nhập lại mật khẩu mới:</label>
                            <input type="password" name="confirmPassword" id="confirmPassword" class="form-control" required />
                        </div>
                        <div class="form-group text-center mb-3">
                            <button type="submit" class="btn btn-primary">Đổi Mật Khẩu <i class="fas fa-sync-alt"></i></button>
                        </div>
                        @Html.ValidationSummary(true, "", new { @class = "alert alert-danger" })
                    }
                </div>
            </div>
        </div>
    </div>
</div>
